<h2>Hola soy la pagina de Galeria</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, alias sint et eius exercitationem veniam aliquam id,
    molestiae rem, eum commodi blanditiis odio architecto porro quasi illum. Amet, est aut?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, alias sint et eius exercitationem veniam aliquam id,
    molestiae rem, eum commodi blanditiis odio architecto porro quasi illum. Amet, est aut?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, alias sint et eius exercitationem veniam aliquam id,
    molestiae rem, eum commodi blanditiis odio architecto porro quasi illum. Amet, est aut?</p>