<h2>Hola soy la pagina de index</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aut placeat incidunt iste est! Veniam itaque
    dolorem ullam odit maxime tempore aliquid, assumenda impedit nulla, fuga quisquam voluptatum neque quia?</p>