<div class="container" style="margin: 150px;">
    <div class="row">
        <div class="col">
            <p style="float:left";>
                <span>Hola  {{persona}}  </span>
                <a href="/admin/login/logout" class="btn btn-danger">cerrar sesion<i class="fasfa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>